In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Binarizer, binarize

In [2]:
num_list = [[ -1000, 0],
            [  500, -3000],
            [  100, 650]]

In [3]:
binarizer = Binarizer()

In [4]:
binarizer.fit(num_list)

Binarizer(copy=True, threshold=0.0)

In [5]:
binarized_list = binarizer.transform(num_list)
binarized_list

array([[0, 0],
       [1, 0],
       [1, 1]])

In [6]:
binarizer = Binarizer(threshold=500)
binarizer.fit_transform(num_list)

array([[0, 0],
       [0, 0],
       [0, 1]])

In [7]:
binarizer = Binarizer(threshold=[0, 100])

binarizer.fit_transform(num_list)

array([[0, 0],
       [1, 0],
       [1, 1]])

### Binarizer to make numeric values categorical

In [8]:
diet_data = pd.read_csv('Datasets/diet_data.csv')

In [9]:
diet_data.head()

,Date,Stone,Pounds,Ounces,weight_oz,calories,cals_per_oz,five_donuts,walk,run,wine,prot,weight,change
0,7/30/2018,12.0,2.0,6.0,2726.0,1950.0,0.72,1.0,1.0,0.0,0.0,0.0,0.0,-30.0
1,7/31/2018,12.0,0.0,8.0,2696.0,2600.0,0.96,1.0,0.0,0.0,0.0,0.0,0.0,8.0
2,08/01/18,12.0,1.0,0.0,2704.0,2500.0,0.92,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,08/02/18,12.0,1.0,0.0,2704.0,1850.0,0.68,1.0,1.0,0.0,1.0,0.0,0.0,-40.0
4,08/03/18,11.0,12.0,8.0,2664.0,2900.0,1.09,1.0,1.0,0.0,0.0,0.0,0.0,14.0

In [10]:
diet_data = diet_data.dropna()
diet_data = diet_data.drop(['Date', 'Stone', 'Pounds', 'Ounces'], axis=1)

In [11]:
diet_data = diet_data.astype(np.float64)

In [12]:
diet_data.head()

,weight_oz,calories,cals_per_oz,five_donuts,walk,run,wine,prot,weight,change
0,2726.0,1950.0,0.72,1.0,1.0,0.0,0.0,0.0,0.0,-30.0
1,2696.0,2600.0,0.96,1.0,0.0,0.0,0.0,0.0,0.0,8.0
2,2704.0,2500.0,0.92,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2704.0,1850.0,0.68,1.0,1.0,0.0,1.0,0.0,0.0,-40.0
4,2664.0,2900.0,1.09,1.0,1.0,0.0,0.0,0.0,0.0,14.0

In [13]:
diet_data.describe()

,weight_oz,calories,cals_per_oz,five_donuts,walk,run,wine,prot,weight,change
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,2687.700000,3180.714286,1.183643,0.371429,0.678571,0.250000,0.307143,0.178571,0.442857,-1.485714
std,28.663189,1478.753433,0.551700,0.484922,0.468702,0.434568,0.462966,0.384368,0.498508,25.098793
min,2628.000000,1400.000000,0.510000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-58.000000
25%,2670.000000,2187.500000,0.807500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-18.000000
50%,2689.000000,2575.000000,0.955000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,-3.000000
75%,2704.000000,3850.000000,1.450000,1.000000,1.000000,0.250000,1.000000,0.000000,1.000000,16.000000
max,2768.000000,9150.000000,3.450000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,102.000000

In [14]:
median_calories = diet_data['calories'].median()
median_calories

2575.0

In [15]:
binarizer = Binarizer(threshold=median_calories)
diet_data['calories_above_median'] = binarizer.fit_transform(diet_data[['calories']])

In [16]:
diet_data.head()

,weight_oz,calories,cals_per_oz,five_donuts,walk,run,wine,prot,weight,change,calories_above_median
0,2726.0,1950.0,0.72,1.0,1.0,0.0,0.0,0.0,0.0,-30.0,0.0
1,2696.0,2600.0,0.96,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0
2,2704.0,2500.0,0.92,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2704.0,1850.0,0.68,1.0,1.0,0.0,1.0,0.0,0.0,-40.0,0.0
4,2664.0,2900.0,1.09,1.0,1.0,0.0,0.0,0.0,0.0,14.0,1.0

In [17]:
mean_calories_per_oz = diet_data['cals_per_oz'].mean()
mean_calories_per_oz

1.1836428571428572

In [18]:
diet_data['cals_per_oz_above_mean'] = binarize(diet_data[['cals_per_oz']], 
                                               threshold=mean_calories_per_oz)

In [19]:
diet_data.sample(10)

,weight_oz,calories,cals_per_oz,five_donuts,walk,run,wine,prot,weight,change,calories_above_median,cals_per_oz_above_mean
66,2756.0,4300.0,1.56,1.0,1.0,0.0,1.0,0.0,0.0,-12.0,1.0,1.0
116,2690.0,3150.0,1.17,1.0,1.0,0.0,1.0,0.0,0.0,-10.0,1.0,0.0
0,2726.0,1950.0,0.72,1.0,1.0,0.0,0.0,0.0,0.0,-30.0,0.0,0.0
117,2680.0,3750.0,1.40,0.0,0.0,1.0,0.0,0.0,0.0,26.0,1.0,1.0
120,2706.0,2200.0,0.81,1.0,1.0,0.0,1.0,0.0,0.0,-18.0,0.0,0.0
75,2676.0,4900.0,1.83,0.0,0.0,1.0,1.0,0.0,1.0,20.0,1.0,1.0
79,2676.0,1800.0,0.67,0.0,0.0,0.0,1.0,0.0,0.0,-14.0,0.0,0.0
31,2640.0,3250.0,1.23,0.0,1.0,0.0,1.0,0.0,0.0,22.0,1.0,1.0
55,2694.0,5900.0,2.19,0.0,0.0,1.0,0.0,1.0,1.0,12.0,1.0,1.0
24,2646.0,2800.0,1.06,1.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0